.bold {
  font-weight: bold !important;
}

.sub-heading {
  margin-bottom: 3rem;
  padding-bottom: 1rem;

  &.primary {
    border-bottom: 1px solid $primary;
  }
  &.opposite {
    border-bottom: 1px solid $opposite;
  }
}
